@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model LoginModel


<form asp-action="Login">
    <div asp-validation-summary="All" class="text-danger">
  </div>
    <div class="form-group">
    <label asp-for="UserName" class="control-lable"></label>
        <input asp-for="UserName" class="form-lable" />
        <span asp-validation-for="UserName" class="text-danger"></span>
  </div>
    <div class="form-group">
        <label asp-for="Password" class="control-lable"></label>
        <input asp-for="Password" class="form-lable" />
        <span asp-validation-for="Password" class="text-danger"></span>
  </div>
  <div class="form-group">
    <input type="submit" value="login" class="btn btn-primary" />
  </div>
</form>